<div class="topnav" id="myTopnav">
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['/hotels']">My Bucket List</a>
    <a href="http://www.travelandleisure.com/travel-news">Travel News</a>
    <a href="https://www.tripadvisor.com/Rentals">Vacation Rentals</a>
    <a href="https://www.travelocity.com/Vacation-Packages">Vacation-Packages</a>

    <a href="http://www.fodors.com/trip-ideas/">Fodors Travel</a>

    <a href="https://www.zagat.com/">Zagat Travel</a>
    <a href="https://www.tvfoodmaps.com/show/Best-Thing-I-Ever-Ate">Best thing I Ever Ate</a>
    <a href="http://andrewzimmern.com/">Andrew Zimmern</a>
    <a href="https://www.viamichelin.com/web/Restaurants">Michelin </a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div>

