<div class="topnav" id="myTopnav">
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['/hotels']"> My Bucket List </a>
    <a href="http://www.travelandleisure.com/travel-news">Travel News</a>
    <a href="https://www.tripadvisor.com/Rentals">Vacation Rentals</a>
    <a href="https://www.travelocity.com/Vacation-Packages">Vacation-Packages</a>
    <a href="http://www.fodors.com/trip-ideas/">Fodors Travel</a>
    <a href="https://www.zagat.com/">Zagat Travel</a>
    <a href="https://www.tvfoodmaps.com/show/Best-Thing-I-Ever-Ate">Best thing I Ever Ate</a>
    <a [routerLink]="['/signup']">Signup</a>
    <a [routerLink]="['/signin']">Signin</a>
    <!-- <li><a style="cursor: pointer;" (click)="onLogout()" *ngIf="authservice.is Authenticated()"> -->
        <!-- Logout</a> </li> -->
    <a [routerLink]="['/logout']">Logout</a>
  </div>
